

h1, h2, h3, h4, h5, h6 {
  font-weight:100;
  color: #757575;
}

.thinText {
  font-weight:100;
  color: #757575;
}

p {
    font-size: 20px;
    font-weight:100;
    color: #757575;
}

.smalltext {
    font-size: 16px;
    font-weight:100;
    color: #757575;
}


.vertical_middle{
  /*vertical-align: middle;*/
  padding-top: 50%;
  padding-bottom: 50%;
  /*padding-right: 50%*/

}
